apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-frontend
  namespace: notes-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notes-frontend
  template:
    metadata:
      labels:
        app: notes-frontend
    spec:
      containers:
        - name: frontend
          image: prathamvish333/notes-frontend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          env:
            - name: NEXT_PUBLIC_API_URL
              value: "http://localhost:8000"
